@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:500');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    color: #ffffff;
    font-weight: 500;
  }
/* COLOURS */
.yellow{
    color:#FFDB5B;
}
.pink{
    color:#FF99C8;
}
.blue{
    color:#A9DEF9;
}
/* backgrounds */
.breakfast{
    background-image: url(img/cover.jpg);
}
.svg{
    background-image:url(img/confetti_1.svg)  
}
  h1{
    font-family: Abril Fatface;
    font-style: Regular;
    font-size: 64px;
    line-height: 100px;
    text-align: center;
    max-width: 632px;
    padding: 20px 0;
  }
  nav img{
      width:100px;
      height:100px;
  }
  nav{
    background-color: #FF99C8;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  } 
  .flex-container{
      display:flex;
      justify-content:center;
      align-content:center;
  }
  .food-flex{
        overflow: hidden;
        max-width: 100%;
        display: flex;
  }
  .food-flex div {
    width: 50%;
  } 
  div.f-quote {
    background-color: #FFDB5B;
    padding: 65px 90px 165px 90px;
  } 
  .food-flex .fruit {
    background-size: cover;
    background-position: center;
    background-image: url(/img/fruit.jpg)
  }
  .bg-img{
    background-size: cover;
    padding: 250px 0;
    background-position: center center;
  }
  .images{
      width:100%;
      display:flex;
      max-height:462px;
  }
  .images img{
      width:33.333%;
  }
  button{
    width: 200px;
    height: 64px;
    color:white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #FFB6C4;
    box-shadow: 4px 4px 0px #FF99C8;
  }
  .contact{
      width:100%;
      display:flex;
      align-content: center;
      justify-content: center;
      background-color: #A9DEF9;
  }
  .contact img{
      border-radius: 50%;
      width:200px;
  }
  .contact div{
      width:33.333%;
      align-self: center;
      text-align: center;
      padding: 55px 60px 80px 60px;
  }

